@import "../../../globalVariables/variables";

#home-container {
  background-color: $bg-dark-variant;
  .info-column {
    h1 {
      color: $accent-color;
      font-family: $major-font;
      font-weight: bold;
    }
    p {
      color: #fff;
      line-height: 2rem;
    }
    button {
      color: #fff;
      background-color: $button-color;
      border-color: $button-color;
      &:focus,
      &:hover {
        background-color: rgba($color: $button-color, $alpha: 0.9);
      }
      &:active {
        background-color: #1c581e;
      }
    }
  }
  .image-column {
    text-align: center;
  }
}
