// _variables.scss

// color variables
$primary-color: #d84315;
$secondary-color: #fff8e1;
$accent-color: #6d1b1b;
$background-color: #faf3e0;
$button-color: #3d8540;

$bg-dark-variant: #ffc264;

// font variables
$major-font: "Merriweather Sans", "Baloo Tammudu 2", sans-serif;
$minor-font: "Roboto", "Noto Sans Telugu", sans-serif;
