@import "../../../globalVariables/variables";

#address-container {
  .heading-section {
    font-family: $major-font;
    .underline {
      width: 5%;
      height: 3px;
      background-color: rgba($color: $accent-color, $alpha: 0.7);
      margin: 8px auto 0;
    }
  }
}
